@mixin rounded($radius: 20px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($color: #003366, $amount: 15%) {
  -webkit-box-shadow: 0px 0px 20px darken($color, $amount);
  -moz-box-shadow:  0px 0px 20px darken($color, $amount);
  box-shadow: 0px 0px 20px darken($color, $amount);
}

@mixin inset-shadow($color: #000, $amount: 15%) {
  -webkit-box-shadow: inset -3px -8px 15px darken($color, $amount);
  -moz-box-shadow: inset -3px -8px 15px darken($color, $amount);
  box-shadow: inset -3px -8px 15px darken($color, $amount);
}

body {
  font-size: 14px;
  p, li {
  font-size: 16px;
}
}

.modal {
  @include rounded;
}

td {
  vertical-align: top;
}

th .current {
  font-size: 1.5em;
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right;  
}

a.asc {
  background-size: 12px 12px;
  background-image: url(/sort_arrow_down.png);
}

a.desc {
  background-size: 12px 12px;
  background-image: url(/sort_arrow.png);
}

input {
  width: auto;
}

#loading {
  font-size: 1.5em;
}

.beer-row td {
  // width: 150px;
}

.beer-row input {
  width: 100px;
}
input.abv_year {
  width: 35px;
}

#debug {
  display: none;
}

input.beer-submit {
  width: 50px;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.dim {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.bubble {
  @include rounded(10px);
  font-size: 1.2em;
  padding:15px;
  @include inset-shadow(#fff, 15%);
  background-color: #fff;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nice_pagination{ 
  width: 50%;
  text-align: center;
  @include inset-shadow;
  @include rounded;
  margin-left: auto;
  margin-right: auto;
  background:#ddd; 
  float:none;
  padding-top: 10px;
  padding-bottom: 10px;
  a, span, em {
  margin: 3px;

}
}

.nice_pagination .current {
  font-weight: bold;
  padding: 5px 10px;
  @include rounded;
  @include inset-shadow;
  background-color: white;
}

.rate_field {
  width: 70px;
  text-align: center;
  margin: 0px 0px 20px 0px;
  height: 70px;
  font-size: 2.5em;
}
textarea.comment_field {
  width: 300px;
  height: 70px;
}
.small-container {
  width: 60%;
}
.modal-container {
  width: 80%;
}
.modal {
  @include inset-shadow;
  border-color: black;
}

.rating_field {
  float: left;
  text-align: left;
}
.comment_field {
  float:right;
  text-align: left;
}
.beer-show-modal {
  height: 100%;
}