@mixin rounded {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.modal {
  @include rounded;
}

td {
  vertical-align: top;
}

input {
  width: auto;
}

.beer-row td {
  width: 150px;
}

.beer-row input {
  width: 100px;
}
input.abv_year {
  width: 35px;
}

#debug {
  display: none;
}

input.beer-submit {
  width: 50px;
}