@mixin rounded {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.modal {
  @include rounded;
}

td {
  vertical-align: top;
}

.current {
  font-size: 1.5em;
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right;  
}

a.asc {
  background-size: 12px 12px;
  background-image: url(/sort_arrow_down.png);
}

a.desc {
  background-size: 12px 12px;
  background-image: url(/sort_arrow.png);
}

input {
  width: auto;
}

#loading {
  font-size: 1.5em;
}

.beer-row td {
  width: 150px;
}

.beer-row input {
  width: 100px;
}
input.abv_year {
  width: 35px;
}

#debug {
  display: none;
}

input.beer-submit {
  width: 50px;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.dim {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}